/* color set */
body {
    /* dark */
    --d0: #101010;
    --d01: #121212;
    --d02: #141414;
    --d1: #151515;
    --d1A: #171717;
    --d2: #202020;
    --d3: #222222;
    --d4: #252525;
    --d5: #282828;
    --d6: #303030;
    --d7: #343434;
    --d8: #383838;
    --d9: #424242;
    --dA: #484848;
    --dB: #6e6e6e;
    
    /* light */
    --lf: #9c9c9c;
    --l0: #aaaaaa;
    --l1: #dadada;
    --l2: #f5f5f5;
    --l3: #e6e6e6;

    /* orange */
    --o0: #d8a52481;
    --o1: #97741b;
    --o2: #d8a5248f;
    --o3: #d8a424;

    /* error */
    --err1: #a32914;
}